.container {
  width: 300px;
  display: flex;
}

button:focus {
  border: 1px solid blue;
}
button:hover {
  cursor: pointer;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid red;
}
.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid blue;
}
.yellow {
  background-color: yellow;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid yellow;
}

